body {
  background-color: rgb(221, 221, 252);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
h1 {
  color: rgb(83, 49, 156);
}
.container {
  background-color: white;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  color: rgb(86, 85, 85);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  padding: 0 30px 30px 30px;
}
.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(200, 175, 255);
}
.tabs p {
  padding: 8px;
}
.tabs p:hover {
  color: rgb(83, 49, 156);
  cursor: pointer;
}
.tabs p.active {
  color: rgb(83, 49, 156);
  position: relative;
}
.line {
  height: 3px;
  width: 200px;
  position: absolute;
  width: 100%;
  top: 70px;
  background-color: rgb(231, 231, 231);
}
.tabs .active::before {
  content: "";
  width: 200%;
  height: 5px;
  background-color: rgb(83, 49, 156);
  position: absolute;
  top: 53px;
  left: -50%;
  z-index: 2;
  border-radius: 10px;
}
.toggle-wrapper {
  display: flex;
  align-items: center;
  padding: 40px;
}
.toggle-wrapper img {
  height: 40px;
}
.toggle {
  background-color: rgb(83, 49, 156);
  height: 32px;
  width: 140px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0, 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  padding: 0 12px;
}
.toggle span:first-of-type {
  color: white;
}
.toggle span:last-of-type {
  background-color: white;
  color: rgb(83, 49, 156);
  padding: 2px 16px;
  border-radius: 20px;
  margin-left: 10px;
}
